<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Ma Guilde</a>
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Ajouter un membre</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container mb-3">
	<div class="jumbotron mt-3">
		<h1 class="display-3 text-center mb-3">Listes des utilisateurs</h1>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nom</th>
					<th scope="col">Prénom</th>
					<th scope="col">Mail</th>
					<th scope="col">Mobile</th>
					<th scope="col">Rôles</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<th scope="row">{{ user.id }}</th>
					<td>
						{{ user.lastname }}
					</td>
					<td>
						{{ user.firstname }}
					</td>
					<td>
						{{ user.mail }}
					</td>
					<td>
						{{ user.mobile }}
					</td>
					<td>
						{{ user.roles.LibelleRole }}
					</td>
					<td>
						<button (click)="updateUser(user.id)"class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
							Modifier
						</button>
					</td>
					<td>
						<button (click)="deleteUser(user.id)" class="btn btn-danger">
							Supprimer
						</button>
					</td>
					<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" style="color: black;" id="exampleModalCenterTitle">Modifier informations personnelles</h5>
								</div>
								<div class="modal-body">
									<form #userForm="ngForm">
                                    <p style="color: black;">
										<div class="form-group row">
											<div class="col-md-9">
												<label for="lastname" style="color: black;" class="control-label">Nom :</label>
												<input type="text" style="color: black;" class="form-control" name="lastname" [(ngModel)]="this.currentUser.lastname">
												<label for="firstname" style="color: black;" class="control-label">Prénom :</label>
												<input type="text" style="color: black;" class="form-control" name="firstname"  [(ngModel)]="this.currentUser.firstname">
												<label for="mail" style="color: black;" class="control-label">Mail :</label>
												<input type="text" class="form-control" name="mail" [(ngModel)]="this.currentUser.mail">
												<label for="mobile" style="color: black;" class="control-label">Mobile :</label>
												<input type="text" class="form-control" name="mobile" [(ngModel)]="this.currentUser.mobile">
											</div>
										</div>
										<div class="form-group row">
											<div *ngIf="this.currentUser.roles" class="col-md-12">
												<select (click)="getRoles()" name="roles" id="" class="custom-select" [(ngModel)]="this.currentUser.roles.LibelleRole">
                                                    <option (click)="updateRole(this.currentUser.roles)"*ngFor="let role of roles">{{ role.LibelleRole }}</option>
                                                </select>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button (click)="sendForm(userForm.value, this.currentUser.id)" type="button" type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
								</div>
							</div>
						</div>
					</div>
				</tr>
			</tbody>
		</table>
	</div>
</div>
